*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}
body{
    background-color: #ecf0f3;
}
.cntainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffffff,
                      5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
.calculator input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffffff,
                inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 30px;
    font-size: 50px;
    margin: auto;
    color: rgba(70, 70, 70);
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: right;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow:  -5px -5px 12px #ffffffff,
                        5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow:  -5px -5px 12px #ffffffff,
                        5px 5px 12px rgba(0, 0, 0, 0.16);
}